<div class="app-container">
  <!-- Page Loader -->
  <app-page-loader [isLoading]="isLoading()"></app-page-loader>

  <!-- Fixed Layout Components (conditionally rendered) -->
  @if (archiveService.user()) {
    <app-magazine-spine />
    <app-main-nav />
  }

  <!-- Persistent Frame Borders-->
  @if (archiveService.user()) {
    <div class="frame-border-outer"></div>
    <div
      class="frame-border-inner"
      [class.logged-in-frame-inner]="isUserLoggedIn()"
    ></div>
  }

  <!-- Dynamic Feature Content Swapped by Router -->
  <main class="content-area" [class.logged-in-content]="isUserLoggedIn()">
    <router-outlet />
  </main>

  <!-- Persistent Page Footer (conditionally rendered) -->
  @if (archiveService.user()) {
    <app-main-footer />
  }
</div>
